<ion-header>
  <ion-toolbar>
    <ion-title>
      YOGAR
    </ion-title>
  </ion-toolbar>
</ion-header>

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Totalcross - Cadastro de Usuários</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <style>
       .usuario-conteudo {
           background-color: #EEE;
           padding: 20px 20px 10px 20px;
           margin-top: 30px;
       }
   </style>
</head>
<div class="RegisterPage">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="usuario-conteudo">
            <h1>{{title}}</h1>

            <div class="dados do usuario">
                <div class="form-group has-feedback">
                    <label for="nome">Nome*</label><br>
                    <input type="text" class="form-control" name="" value=""[(ngModel)]="name" placeholder="Nome do usuário" maxlength="40" required>
                      </div>
                <div class="form-group has-feedback">
                    <label for="e-mail">email*</label><br>
                    <input type="text" class="form-control" name="" value=""[(ngModel)]="email" placeholder="E-mail" maxlength="40"required >
                      </div>
                <div class="form-group has-feedback">
                    <label for="idade">Idade*</label><br>
                    <input type="number" class="form-control" id="age" pattern="[0-9]*"value=""[(ngModel)]="age" placeholder="idade" maxlength="2" required>
                    </div>
                <div class="form-group has-feedback">
                  <label for="senha">Senha*</label>
                  <input type="password" class="form-control" id="password" value=""[(ngModel)]="password"  placeholder="Informe a senha do usuário"
                       maxlength="20" >
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
              <div class="form-group has-feedback">
                  <label for="senhaaux">Confirmar Senha*</label>
                  <input type="password" class="form-control" id="passwordaux" value=""[(ngModel)]="passwordaux"  placeholder="Informe Novamente a senha do usuário"
                       maxlength="20" >
                 </div>
            <button type="submit" class="btn btn-primary" (click)="add()">Registrar</button>
            <button type="submit" class="btn btn-danger" href="go('../home/home.module#Tab2PageModule')">Voltar</button>
            <button class="btn btn-success" href="go('../home/home.module#Tab2PageModule')">Cadastra-se</button>
            <div class="listuser">
              <ul>
                <li *ngFor="let item of usuarios">
                  {{item}}
                </li>
              </ul>

            </div>

      </div>
    </div>
  </div>
</div>
<ion-content></ion-content>
