.user-box {
  width: 80%;
  height: 180px;

  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
}

mat-card-content {
  margin: 0px;
}

.my-input{
  width: 100%
}

.my-card {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}

// .mat-form-field-appearance-legacy .mat-form-field-wrapper {
//     padding-bottom: 0px;
//     padding: 0px;
// }
