<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-grid-list cols="8" rowHeight="1:1">
    <mat-grid-tile [colspan]="6" >
      <p> Olá, {{user.primeiroNome}} {{user.ultimoNome}} </p>
    </mat-grid-tile>
  <mat-grid-tile [colspan]="2" >
    <button mat-raised-button  color="primary" (click)="logout()">Logout</button>
    <button color="primary"  *ngIf="!ehPremium()" mat-raised-button (click)="openDialog()" >Upgrade!</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="8" >
    <p> Você está no Nv. {{xp}}</p>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card *ngFor="let f of fields" class="my-card">
    <mat-card-content class="scrollable-content">
      <mat-form-field class="my-input">
        <input matInput type="text"  [disabled]="f.isDisable" class="form-control"  placeholder="{{f.name}}" [(ngModel)]="f.value">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="f.isDisable" (click)="atualizaField(f)">Atualizar</button>
      <button mat-icon-button (click)="enableField(f)"><mat-icon>{{f.icon}}</mat-icon></button>
    </mat-card-actions>
  </mat-card>

</ion-content>
