<ion-header>
   <ion-toolbar>
    <ion-title>Yogar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="form-group">
      <label>Primeiro Nome</label>
      <input type="text" class="form-control"  placeholder="Primeiro Nome" [(ngModel)]="primeiroNome">
    </div>
    <div class="form-group">
      <label>Ultimo Nome</label>
      <input type="text" class="form-control"  placeholder="Ultimo Nome" value="" [(ngModel)]="ultimoNome">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Enter email" value="" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control"  placeholder="Username"  value="" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input type="password" class="form-control"  placeholder="Password" value="" [(ngModel)]="senha">
    </div>
  <button mat-raised-button type="submit" (click)="criaAluno()">Submit</button>
  <button mat-raised-button routerLink="/logar">Voltar</button>


</ion-content>
