<h1 mat-dialog-title>Desafio!</h1>
<div *ngIf="!loading && !enviado">
  <p *ngIf="!erro">Tire a foto do desafio dessa lição para ganhar pontos extras!</p>
  <p *ngIf="erro">Algo deu errado ou sua posição não foi satistatória, por favor tire outra foto!</p>
<mat-dialog-content>
  <p>{{posicao_esperada}}</p>
  <p>{{fotoDesafioView}}</p>
  <p align="center"><img src="{{fotoDesafioView}}"></p>
</mat-dialog-content>
<mat-dialog-actions >
    <button mat-raised-button  selected style="min-width:220px;margin: 5px" color="primary" [disabled]="!fotoTirada" mat-raised-button color="primary"(click)="submit()">Enviar</button>
    <button mat-raised-button  selected style="min-width:100px;margin: 5px" color="primary"(click)="tirarFoto()">Tirar Foto</button>
    <button mat-raised-button  selected style="min-width:105px;margin: 10px"(click)="onNoClick()">Fechar</button>

</mat-dialog-actions>
</div>
<div *ngIf="loading" align='center'>
  <mat-dialog-content>
    <mat-spinner></mat-spinner>
  </mat-dialog-content>
</div>
<div *ngIf="enviado" align='center'>
  <mat-dialog-content>
    <h1 mat-dialog-title>Parabéns!</h1>
    <h2>Você acabou de completar o desafio '{{desafio.nome}}' com precisão de '{{desafio.pts}}'!</h2>  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Fechar</button>
  </mat-dialog-actions>
</div>
