.mat-card.scrollable-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > .mat-card-title-group {
    display: block;
  }

  > .mat-card-content {
    overflow-y: auto;
  }
}

.my-chat {
  height: 350px;
}

.msgBox {
  margin-bottom: 30px;
  word-break: break-all;
}

#myself.msgBox {
  background-color: #dcf8c6;
}
