<ion-header>
  <ion-toolbar>
    <ion-title>
      Lições
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <mat-card class="example-card" *ngFor="let licao of licoes" style="margin: 10px">
    <button mat-raised-button
    color="primary"
    [ngClass]="{'butaoLicao': licao.ehPremium == true, 'butaoLicaoPremium' : licao.ehPremium == true}"
    style="width : 100%;"
    [routerLink]="['/licoes', licao.id]"
    [disabled]="checkXp(licao)">
    {{licao.titulo}}
  </button>
  <mat-chip-list aria-label="Fish selection" >
    <mat-chip color="primary" selected style="margin-top: 10px">{{licao.tag}}</mat-chip>
    <mat-chip color="accent" selected style="margin-top: 10px">Nvl. {{licao.nivel}}</mat-chip>
    <mat-chip *ngIf="licao.ehPremium == true"color="warn" selected style="margin-top: 10px">Premium</mat-chip>
  </mat-chip-list>

</mat-card>

</ion-content>
